.navbar-semi-bordeaux {
    background-color: #c7c4c2;
    color: #ffffff;
  }
  .navbar-nav li > .navbar-brand{
    max-width: 100px;
    font-size: 30px;
    margin: 0 50px ;
    transition: transform 0.3s ease;
  }
  .navbar-nav li{
    margin-right: 50px;
  }

  .navbar-brand:hover {
    transform: scale(1.1); 
  }
  .nav-link-underline {
    width: 0;
    height: 2px;
    background-color: #291800;
    transition: width 0.3s ease; 
  }
  
  .nav-link:hover .nav-link-underline {
    width: 100%;
  }
  .navbar-nav li a{
    color: #291800;
    font-size:large ;
  }