.navbar-semi-bordeaux {
    background-color: #a42119; /* Cambia el color a tu tono semi-burdeos preferido */
    color: #ffffff; /* Cambia el color del texto a uno que contraste adecuadamente */
  }
  .navbar-logo {
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .navbar-logo:hover {
    transform: scale(1.1); /* Ajusta la escala de agrandamiento según tu preferencia */
  }
  .nav-link-underline {
    width: 0;
    height: 2px;
    background-color: wheat; /* Cambia el color del subrayado según tus necesidades */
    transition: width 0.3s ease; /* Ajusta la duración de la transición según tu preferencia */
  }
  
  .nav-link:hover .nav-link-underline {
    width: 100%;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }