/* 
.contenedor {
    background-color: #E7D7C9;
    height: 100vh;
    position: relative;
}
 */
.Title {
    position: absolute;
    margin-top: 160px;
    right: 35%;
    color: #7e481c;
    font-family: serif;
}

/* Media query para hacer que las cards sean de ancho completo en pantallas pequeñas */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        /* Una card por fila, ancho completo */
    }
}

.imagen1 {
    width: 37%;
    height: 80%;
    margin-top: 7%;
    left: 6%;
    background-color: #5f462ccc;
    border-bottom-left-radius: 50%; /* Redondear la esquina superior izquierda */
    border-bottom-right-radius: 50%; /* Redondear la esquina superior derecha */
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen2 {
    width: 20%;
    height: 57%;
    margin-top: 5%;
    left: 28%;
    background-color: #5f462ccc;
    border-top-left-radius: 50%; /* Redondear la esquina superior izquierda */
    border-top-right-radius: 50%; /* Redondear la esquina superior derecha */
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}