/* home.module.css */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
/* Estilo para centrar verticalmente */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo del cuadrado redondeado */
.square {
  width: 350px;
  height: 350px;
  background-color: #5f462ccc;
  border-top-left-radius: 50%; /* Redondear la esquina superior izquierda */
  border-top-right-radius: 50%; /* Redondear la esquina superior derecha */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el contenido dentro del cuadrado */
.innerContent {
  text-align: center;
  
  color:#FFF;
}
.innerContent p {

  font-size: 24px;
  text-align: center;
  color:#ffffff;
}
.innerContent h2{
  font-family: 'Bodoni Moda', serif;
  font-size: 2.5rem;
}
/* Estilo para el botón */
.innerContent button {
  margin-top: 50px;
  background-color: #f0e1e1;
  color: #574235;
  border: none;
  padding: 10px 45px;
  cursor: pointer;
}
.innerContent button:hover {
  transition: .2s;
  margin-top: 50px;
  background-color: #ffffff;
  color: #1d1c1b;
  
  padding: 10px 45px;

  cursor: pointer;
}
