.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .button-container {
    position: relative;
  }
  
  .button-container {
    position: relative;
  }
  
  .background-square {
    position: absolute;
    top: -100px; /* Ajusta la posición vertical según tus necesidades */
    left: -40px; /* Ajusta la posición horizontal según tus necesidades */
    width: calc(100% + 100px); /* Ajusta el ancho agregando/subiendo el valor de los píxeles según tus necesidades */
    height: calc(100% + 140px); /* Ajusta el alto agregando/subiendo el valor de los píxeles según tus necesidades */
    background-color: #685745a6;
    z-index: -1;
    border-radius: 50% 50% 0 0; /* Redondea solo la parte superior del cuadrado */
  }
  
  
  
  
  .button-text {
    margin-top: 20px;
  }
  .button-text .text{
    font-size: 50px;
    font-family: 'Times New Roman';
    color: #ffffff;
  }
  .button-text .subText{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 100px;
  }